.nakrutka-btn {
    box-shadow: 3px 3px 1px white;
    border: none;
    outline: none;

}

.animated {
    transition-property: background-color;
    transition-duration: 3s;
}

.nakrutka-btn:active{
}

.nakrutka-btn p{
    color: #000000;
    text-shadow: 0px 0px 1px blue;
}

.progress{
    margin-bottom: 0px;
}

.text-c{
    font-size: 16px;
    text-shadow: -1px 0px 0px #3e6397;
    padding-top: 7px;
}

.balans-text{
    font-size: 20px;
}

.my-mt{
    margin-top: 13px;
}

ul.sidebar-menu li a.active {
    background-color: #338cc8;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

.cd-dropdown span[class^="whhg-"]:before, .cd-dropdown span[class*=" whhg-"]:before {
    font-style: normal;
    speak: none;
    font-weight: normal;
    position: absolute;
    font-size: 40px;
    line-height: 40px;
    width: 50px;
    top: 50%;
    left: 15px;
    margin-top: -20px;
    text-align: center;
}

.select-work {
    z-index: 1;
}

.work-center {
    z-index: 0;
    min-height: 500px;
    background-color: #e7e7e7;
    box-shadow: 0px 0px 8px black;
}

.btn-theme05 {
    color: #fff;
    background-color: #668ada;
    border-color: #555eff;
}
.btn-theme05:hover,
.btn-theme05:focus,
.btn-theme05:active,
.btn-theme05.active,
.open .dropdown-toggle.btn-theme05 {
    color: #fff;
    background-color: #627fcc;
    border-color: #88a9da;
    /*box-shadow: 0px 1px 2px black;*/
}

.work-like tr, .work-like td, .work-like th{
    text-align: center;
    font-size: 14px;
}

.work-like .btn{
    padding: 1px 15px;
    margin-bottom: 5px;
}

.prise{
    font-size: 20px;
    color: #6677ff;
}

ul.sidebar-menu .sub-menu .sub a.active{
    background-color: transparent;
}

ul.sidebar-menu .sub-menu .sub a.active,
ul.sidebar-menu .sub-menu .sub a:hover,
ul.sidebar-menu .sub-menu .sub a:focus{
    box-shadow: none;
    text-decoration: underline;
    color: #fafce1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #d5dfff;
    text-shadow: 0px 0px 1px white;
    background-color: #375e88;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.nav-tabs > li > a {
    color: #d5dfff;
    text-shadow: 0px 0px 1px white;
    background-color: #375e88;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 6px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
    color: #000000;
    text-shadow: 0px 0px 1px #5b7dff;
    background-color: #abd5ff;
    box-shadow: -4px -5px 0px #88acd5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.respons li {
    width: 100%;
}

.t-block tr, .t-block td, .t-block th {
    text-align: center;
    font-size: 16px;
    text-shadow: 0px 0px 1px #8bb5bf;
}

.refer-link .btn{
    padding: 4px 12px;
}

.resetTabRef {
    display: inline;
}

.info-block{
    font-family: PoiretOneNormal, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 1px #000;
}

.avatarka img{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    /*border-radius: 30%;*/
}

.size-sto {
    width: 100%;
}

.height-tr {
    height: 300px;
}

.menu {
    background: transparent;
}

#hero-bar {

}

.refer-panel {
    color: #ffffff;
    box-shadow: 0px 0px 3px black;
    height: 280px;
}

.refer-panel:hover {
    box-shadow: 0px 0px 20px rgba(0, 46, 151, 0.86);
}