.nakrutka-btn {
    box-shadow: 3px 3px 1px white;
    border: none;
    outline: none;

}

.animated {
    transition-property: background-color;
    transition-duration: 3s;
}

.nakrutka-btn:active{
}

.nakrutka-btn p{
    color: #000000;
    text-shadow: 0px 0px 1px blue;
}

.progress{
    margin-bottom: 0px;
}

.inform-nakrutka{

}

.text-st .text-c{
    font-size: 16px;
    text-shadow: -1px 0px 0px #3e6397;
    padding-top: 7px;
}

.balans-text{
    font-size: 20px;
}

.my-mt{
    margin-top: 13px;
}

ul.sidebar-menu li a.active {
    background-color: #338cc8;
    border-radius: 10px 0px 0px 0px;
    text-align: center;
    text-shadow: 2px 2px 1px black;
}

.cd-dropdown span[class^="whhg-"]:before, .cd-dropdown span[class*=" whhg-"]:before {
    font-style: normal;
    speak: none;
    font-weight: normal;
    position: absolute;
    font-size: 40px;
    line-height: 40px;
    width: 50px;
    top: 50%;
    left: 15px;
    margin-top: -20px;
    text-align: center;
}

.select-work {
    z-index: 1;
}

.work-center {
    z-index: 0;
    min-height: 500px;
    background-color: #dadada;
    box-shadow: 0px 0px 8px black;
}